<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appender name="AppStdoutLog" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="edu.illinois.library.cantaloupe.logging.ApplicationLogFilter" />
        <filter class="edu.illinois.library.cantaloupe.logging.StandardOutputLogFilter" />
        <encoder>
            <!-- %white and %gray seem to be inverted as of version 1.1.7 -->
            <pattern>AVTEST %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>

    <appender name="AppStderrLog" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="edu.illinois.library.cantaloupe.logging.ApplicationLogFilter" />
        <filter class="edu.illinois.library.cantaloupe.logging.StandardErrorLogFilter" />
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>

    <appender name="AccessStdoutLog" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="edu.illinois.library.cantaloupe.logging.AccessLogFilter" />
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="edu.illinois.library.cantaloupe.logging.AccessLogService" additivity="false">
        <if condition='property("log.access.ConsoleAppender.enabled").contains("true")'>
            <then>
                <appender-ref ref="AccessStdoutLog" />
            </then>
        </if>
    </logger>

    <root level="DEBUG">
        <!--
        Access log appenders
        -->
        <if condition='property("log.access.ConsoleAppender.enabled").contains("true")'>
            <then>
                <appender-ref ref="AccessStdoutLog" />
            </then>
        </if>

        <!--
        Application log appenders
        -->
        <if condition='property("log.application.ConsoleAppender.enabled").contains("true")'>
            <then>
                <appender-ref ref="AppStdoutLog" />
                <appender-ref ref="AppStderrLog" />
            </then>
        </if>
    </root>

</configuration>
